.container {
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    border: 1px solid gray;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1em;
    flex-wrap: wrap;
}
.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: 2px solid;
    padding: 0.5em;
}
.red {
    color: red;
    background: linear-gradient(red, green);
}
.rgb {
    color: rgb(252, 244, 5);
    background: linear-gradient())
}
.king{
    color:black;
}
.rcb {
    color:blue;
}
.vk {
    color:purple;
}
.jk {
    color: white;
    background: linear-gradient(red,#736736,#2B2A29,#FFFFFF)
}
.ik {
    color:violet;
}