.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}
@media screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.option {
    color:black;
    border: 100px solid black;
    padding:0.5em;
    background-color: olivedrab
    border-radius: 1px;
}