*{
    margin:0;
    padding:0;
    box-sizing:border box;
}
.container {
    height: 500px;
    width: 75%;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas:
    "one one one one two"
    "three four four five two"
    "six six seven five two"
    "six six seven eight two"
    "nine ten ten ten eleven";
    gap: 1em;
    
}
.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: 1px solid teal;
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.ten {
    grid-area: ten;
}
.eleven {
    grid-area: eleven;
}
